<% layout('layouts/boilerplate') %>
<div class="row">
    <h1 class="text-center">New Hotel</h1>
    <div class="col-md-6 offset-md-3">
        <form action="/hotels" method="POST" novalidate class="validated-form">
            <div class="mb-3">
                <label class="form-label" for="name">Hotel Name</label>
                <input class="form-control" type="text" id="name" name="hotel[name]" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="hotel[location]" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="price">Price Per Night</label>
                <div class="input-group">
                    <span class="input-group-text">₹</span>
                    <input type="text" class="form-control" id="price" name="hotel[price]" required>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="availableRooms">Available Rooms</label>
                <input class="form-control" type="number" id="availableRooms" name="hotel[availableRooms]" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="amenities">Amenities</label>
                <input class="form-control" type="text" id="amenities" name="hotel[amenities]" 
                       placeholder="Separate amenities with commas" required>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Add Hotel</button>
            </div>
        </form>
        <a href="/hotels">Back to Hotels</a>
    </div>
</div> 