.card-title {
    font-family: 'Arial', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.card-text {
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
    color: #555;
}

.card {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    font-weight: bold;
}

h1 {
    font-family: "Josefin Sans", serif;
    font-size: 2.5rem;
    font-weight: 600;
    color: #6cc4c6c4;
    text-align: center;
    margin-bottom: 2rem;
    letter-spacing: -0.5px;
    line-height: 1.2;
} 